@use 'abstracts/variables';

@use 'base/normalize';
@use 'base/base';
@use 'base/reset';

@use 'layout/header';
@use 'layout/cuerpo';
@use 'layout/footer';

@use 'pages/contacto';
@use 'pages/mision';
@use 'pages/vision';
