@use './../abstracts/variables' as *;

.footer {
    background-color: $c_verde_bosque;
    /*background-image:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.55)),
        url('./../assets/images/fondo.jpg');*/

    background-position: center;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "social contact address certificaciones"
        "copyright copyright copyright copyright";

    color: $c_marfil;
    padding: 0.7rem 1rem;
    gap: 0.4rem;
    font-size: 0.8rem;
    line-height: 1.2;

    &__social,&__contact,&__address,&__certificaciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: 0 0.5rem;
        gap: 0.2rem;
    }

    &__social,&__contact,&__address {
        border-right: 1px solid rgba(255, 255, 255, 0.15);
    }

    &__title {
        font-weight: 600;
        margin-bottom: 0.1rem;
        font-size: 0.85rem;
    }

    &__social-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 6px;
        color: inherit;

        i {
        font-size: 0.9rem; 
        }

        &:hover {
        opacity: 0.85;
        }
    }

    &__copyright {
        grid-area: copyright;

        margin-top: 0.3rem;
        padding-top: 0.4rem;

        text-align: center;
        font-size: 0.7rem;

        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
}