@use "../abstracts/variables" as *;

.header {
    background-color: $c_verde_bosque;
    //background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)) ,url(./../assets/images/fondo.jpg);

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "logo contacto usuario"
        "logo barra    reserva";

    gap: 6px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

    &__brand {
        grid-area: logo;

        display: flex;
        align-items: center;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
        text-decoration: none;
    }

    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 5%;
        object-fit: cover;
    }

    &__title {
        color: $c_marfil;
        margin: 0;
        line-height: 1;
        font-size: 25px;
    }

    &__contact {
        grid-area: contacto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        color: $c_marfil;
        font-size: 0.9rem;
        white-space: nowrap;
    }

    &__user {
        grid-area: usuario;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.8rem;
        padding-right: 5px;
    }

    &__lang{
        color: $c_marfil;
        cursor: pointer;
    } 

    &__login{
        color: $c_marfil;
        background-color: $c_cafe_adobe;
        border: 1px solid $c_marfil;
        padding: 0.35rem 0.8rem;
        text-decoration: none;
        font-size: 0.85rem;
        border-radius: 5px;
        transition: all 0.25s ease;

        &:hover {
            background-color: $c_cobre;
            color: $c_verde_bosque;
        }
    }

    &__nav {
        grid-area: barra;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 2.2rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        text-decoration: none;
        color: $c_marfil;
        font-weight: 500;
        position: relative;
        display: inline-block;
        transform-origin: center;
        transition: transform .25s ease, color .25s ease;

        &:hover {
            color: $c_amarillo;
            transform: scale(1.08);
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -6px;
            width: 100%;
            height: 2px;
            background: $c_amarillo;
            transform: translateX(-50%) scaleX(0);
            transform-origin: center;
            transition: transform .25s ease;
        }

        &:hover::after {
            transform: translateX(-50%) scaleX(1);
        }

        &--active {
            color: $c_amarillo;
            font-weight: 600;
        }

        &--active::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    &__reserva{
        grid-area: reserva;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        color: $c_marfil;
        background-color: $c_cafe_adobe;
        border: 1px solid $c_marfil;
        padding: 0.35rem 0.8rem;
        text-decoration: none;
        font-size: 0.85rem;
        border-radius: 5px;
        transition: all 0.25s ease;

        &:hover {
            background-color: $c_cobre;
            color: $c_verde_bosque;
        }
    }
}   